[user]
	name = Zhi Wei Chong
	email = zhiwei@arbo.works
	signingkey = 2C8A20B5CD964E30
[core]
    autocrlf = input
    excludesfile = ~/.gitignore_global
    #pager = diff-so-fancy | less -F -X
    pager = delta

[interactive]
    diffFilter = delta --color-only

# === Delta Config
[delta]
    navigate = true  # use n and N to move between diff sections
    light = false    # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
    line-numbers=true
    side-by-side=true
    syntax-theme = Visual Studio Dark+
    ; hyperlinks=true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
# === END

[push]
    default = simple
	autosetupremote = true
[color "diff"]
    old = red strike
    new = green italic
[alias]
    lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)'
    lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
    lg = !"git lg1"
    lgall = lg1 --all
    st = status --short --branch
    cleanup = !"git branch --merged origin/master | grep  -v '\\*\\|master\\|develop' | xargs -i git branch -d {}"
    remote-cleanup-dryrun = !"git branch --remote --merged origin/master | grep  -v '\\*\\|master\\|develop' | sed 's$origin/$$'"
    remote-cleanup = !"git branch --remote --merged origin/master | grep  -v '\\*\\|master\\|develop' | sed 's$origin/$$' | xargs -i git push origin --delete {}"
    cb = !"git rev-parse --abbrev-ref HEAD"
    po = !"git push origin -u `git cb`"
    pf = !"git push -f"
    co = checkout
    cm = commit
    cc = commit
    f = fetch --prune
    oops = reset --soft HEAD~1
    fuck = reset --hard

[commit]
	gpgsign = true
[fetch]
	prune = true
